<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/stdsignup">
    Username <input type="text" name="stdusername"><br>
    Password <input type="password" name = "stdpassword"><br>
    Email Id <input type="email" name="stdemail"><br>
    Contact No <input type="number" name="stdcontact"><br>
    <button type="submit">Signup</button>
    </form>
    
</body>
</html>