<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/stdlogin">
    Username <input type="text" name="stdname"><br>
    Password <input type="password" name = "stdpass"><br>
    <button type="submit">Login</button>
    </form>
</body>
</html>